{% extends "base.html" %}
{% load static %}

{% block title %}{{ show.date }}{% endblock %}

{% block content %}
<div class="container">
{% for show in show_list %}
      <div class="row">
        <div class="col-sm-12">
        {{ day }}
          <h2>{{ show.date }}</h2>
            <p>{{ show.venue.name }}</p>
        </div>
      </div>

    <!-- Action buttons -->
    <div class="row">

      <div class="col-sm-12">
      </div>

    </div>
    <!-- End Action buttons -->
    <div class="row">

      <div class="col-sm-12">
          {% if show.notes %}
            <p>{{ show.notes }}</p>
          {% endif %}
      </div>

    </div>
{% endfor %}

{# Date navigation controls#}
<p>
    {% if previous_day %}
        Previous Day: {{ previous_day }}
    {% endif %}
    {% if previous_day and next_day %}--{% endif %}
    {% if next_day %}
        Next Day: {{ next_day }}
    {% endif %}
</p>
{# end date nav <controls></controls>#}
</div>
{% endblock content %}

