{% extends "base.html" %}
{% load static %}

{% block title %}{{ show.date }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ show.date }}</h2>
    </div>
  </div>

<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
  </div>

</div>
<!-- End Action buttons -->
<div class="row">

  <div class="col-sm-12">
      {% if venue.description %}
        <p>{{ venue.description }}</p>
      {% endif %}
  </div>

</div>

</div>
{% endblock content %}

