{% extends "base.html" %}
{% load static i18n %}
{% block title %}Shows{% endblock %}

{% block content %}
<div class="container">
  <h2>Shows</h2>

  <div class="list-group">
    {% for show in latest %}
{#      <a href="{% url 'setlists:show-detail' show.date|date:"Y-m-d" %}" class="list-group-item">#}
          <a href="{{ show.get_show_day }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ show.date }}</h4>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
