
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
	<div class="page-header">
		<h1>Venues</h1>
	</div>
    <div class="row">
	    <table class="table table-striped">
	    	<th>Name</th>
	    	<th>City</th>
	    	<th>State</th>
	    	<th>Times Played</th>
	    	<th>First Played</th>
	    	<th>Last Played</th>
			{% for x in data if x.times_played %}
			<tr>
				<td><a href="{{ url_for('music.venue', name=x.name) }}"><b>{{ x.name }}</b></a></td>
				<td>{{ x.loc_city }}</td>
				<td>{{ x.loc_state }}</td>
				<td>{{ x.times_played }}</td>
				<td><a href="{{ url_for('music.show', date=x.date_first_played) }}">{{ x.date_first_played|datefilter }}</a></td>
				<td><a href="{{ url_for('music.show', date=x.date_last_played) }}">{{ x.date_last_played|datefilter }}</a></td>
			</tr>
			{% endfor %}
		</table>
    </div>
</div>
{% endblock %}
